
body{
    background-color: rgb(71, 14, 14);
}

h1, h2{
    text-align: center;
    text-decoration-line: overline underline;
    color: cornsilk;
   
}



#welcome-section{
    height: 100vh;
}

.github {
    margin-top: 20vh;
 
    
}

@media only screen and (max-width: 1000px) {
    body{
        background-color: chocolate;
        }
    }

nav li {
    display: inline-block;
    margin-left: 80px;

}

nav a {
    text-transform: uppercase;
}

nav {
    background-color: cornsilk;
    position: fixed;
    width: 100%;
    margin: 0 auto;

}
.container {
    width: 80%;
    height:10vh;
    margin: 0 auto;

}
img{
    border-radius: 50%;

}
.blackpanther {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-tile{
    text-transform: uppercase;
    border: dotted;
    padding: 100px 400px 300px 400px;
    text-decoration: none;
}

.project-tile li{
    border-bottom: solid;
    padding: 5em 5em 5em 5em;
}

