/* place comments
Author:
Date:
Time:
Version:
*/

body{
background-color: lightblue;
}

section{
 background-color: chocolate;
}
    #testimonials{
        background-color: chocolate
    }
p{ 
    background-color: red;
}

.paragraph1{
    background-color: yellow;
}
ul{
    list-style: none;
    }
    ul li{
        display: inline-block;
        width: 200px;
        border-color: brown;
        border-style: groove;
        background-color: blanchedalmond;
border-left: 10px solid chocolate;
border-right: 10px solid chocolate;

        margin: 10px 20px 10px 5px;
        padding: 10px;
}